* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.cont {
    height: 600px;
    width: 400px;
    border: 1px solid red;
    position: relative;
    overflow: hidden;
}

.cont ul {
    width: 400px;
    height: 400px;
    /* background: #d8d8d8; */
    position: relative;
    transition: all 4s;
}

.cont li {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 100px;
    border-color: rgb(100, 149, 237) transparent transparent rgb(100, 149, 237);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left top;
}

.cont li:nth-child(2n) {
    border-color: rgb(255, 20, 147) transparent transparent rgb(255, 20, 147);
}

.cont li:nth-child(2) {
    transform: rotate(90deg);
}

.cont li:nth-child(3) {
    transform: rotate(180deg);
}

.cont li:nth-child(4) {
    transform: rotate(-90deg);
}

.cont:hover ul {
    transform: rotate(720deg);
}


.line {
    width: 300px;
    height: 300px;
    background: rgb(72, 61, 139);
    position: absolute;
    bottom: -150px;
    left: 50%;
    margin-left: -150px;
    transform: rotate(45deg) skew(40deg, 40deg);
    z-index: -1;
}